.banner-sub{
	position: relative;
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: -1px 8px 24px -9px #999999; 
	box-shadow: -1px 8px 24px -9px #999999;
}

.titulo-banner{
	position: relative;
	font-size: 28px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.form-control{
	padding: 0px;
}
.form-control label{
	color: #261E18;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 7px;
}
.form-control input,.form-control select{
border: 1px solid #acb0c3;
}
.form-control input:focus{
	outline: none;
	border:  1px solid #4048C9;
	box-shadow: 0px 1px 0px 1px rgba(80,90,252,0.45);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(80,90,252,0.45);
	-moz-box-shadow: 0px 0px 5px 1px rgba(80,90,252,0.45);
}
.form-control i {
	top: 48px;
	right: 10px;
}
.form-control.success input {
	border: 1px solid #2ecc71;
}

.form-control.error input {
	border: 1px solid #e74c3c;
}
.img-proba {
	position: relative;
}
.img-proba img{
		position: relative;
		width: 100%;
}
.btn-guar{
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 12px 15px;
	background: #424f8f;
	border: 1px solid #424f8f;
	color: #fff;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	transition: all 500ms linear;
	cursor: pointer;
}
.btn-guar:hover{
	background: #FFF;
	color: #424f8f;
	transition: all 500ms linear;
}

.invoiceBox > input[type='file'] {
  display: none;
}
.invoiceBox label {
	display: block;
}
.boxFile {
	display: inline-block;
  width: 100%;
  border: 1px solid grey;
  background: #424f8f;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.boxFile:hover {
	cursor: pointer;
	background: #424f8f;
	color: #fff;
}
.boxFile i {
	display: block;
	font-size: 26px;
	margin-bottom: 5px;
}
.attached,
.attached:hover,
.attached:focus {
	background: #505AFC;
  color: #fff;
  border: 1px solid #505AFC;
}
@media screen  and (max-width: 1200px){

}
@media screen  and (max-width: 992px){

}
@media screen  and (max-width: 768px){
	.form-control label{
	font-size: 20px;
	}
	.btn-guar{
		padding: 10px 13px;
    	font-size: 16px;
	}
	.form-control i {
	top: 38px;
	right: 10px;
	}
}
@media screen  and (max-width: 576px){
	.titulo-banner{
	font-size: 24px;
	}
	.form-control label{
	font-size: 16px;
	}
	.boxFile {
 	font-size: 16px;
	}
	.form-control i {
	top: 33px;
	right: 10px;
	}

}
