
.menu{
	position: relative;
	background: #00badb;
	width: 100%;
	transition:1s;
	z-index: 1100;

}
.cat{
	cursor: pointer;
}

.consul{
	border: 2.5px solid #fff;
	padding: 8px 10px;
	border-radius: 15px;
	transition: .5s;
}
.consul:hover{
	transition: .5s;
	background: #fff;
	color: #fb36cb;
}
#main{
	display: none;

}
.cont-logo{
	width: 70px;
}
.cont-logo .logo-img{
	position: relative;
	width: 100%;
}
nav{
	position: relative;
}
nav ul{
	position: relative;
	width: 100%;
}
nav ul li{
	position: relative;
	display: inline-block;
	margin-left: 10px;
	
}

nav ul li a{
	position: relative;
	text-decoration: none;
	color: #fff;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	font-size: 22px;
	font-weight: 22px;
	transition: .3s;

}
nav ul li a:hover{
	transition: .3s;
	border-bottom: 2.5px solid #fff;
}
.submenu a:hover{
	border-bottom: 0px solid #fff;
}

.submenu i{
	position: relative;
	font-size: 13px;
	color: #fff;
	
}

/*Submenu*/



 nav ul li .children {
	background: #fff;
	position: absolute;
	width: auto;
	height: 400px;
	overflow-y: scroll;
	display: none;
	z-index: 1000;
	border-radius: 3px;
	border: 1px solid #EFB91B;
	
	
}
.children::-webkit-scrollbar{
	width: 4.5px;
	height: 7px;
}
 .children::-webkit-scrollbar-thumb{
	background: #EFB91B;
	border-radius: 5px;
}


 nav ul li .children li {
	display: block;
	overflow: hidden;
	padding: 10px;
	transition-duration: .3s;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*Usamos overflow hidden porque aqui si vamos a necesitar usar float*/

}


 nav ul li .children li .fa-gifts{
 	display: inline-block;
 	position: relative;
 	font-size: 16px;
 	margin-right: 10px;
 	margin-left: 5px;
 	color: #EFB91B;
 }
 nav ul li .children li a {
	display: inline-block;
	font-size: 16px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #fb36cb;
	padding: 0px;
}
 nav ul li .children li a:hover {
	color: #efb91b;
 }


 nav ul .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right: 0px;
	margin-left:10px;
}
nav ul li .children li:hover {
 
 border-bottom: 0px;
}


/*animacion giro*/
@keyframes giro {
  from {
    transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
  }

  

  to {
   transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  }
}

.giro{
  -webkit-animation-name: giro;
  animation-name: giro;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@keyframes giroReversion {
  from {
    transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  }

  

  to {
   transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
  }
}

.giroReversion{
  -webkit-animation-name: giroReversion;
  animation-name: giroReversion;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*termina giro*/

@media screen  and (max-width: 1200px){
	
	nav ul li a{
	font-size: 16px;
	font-weight: 16px;
	}
	
}
@media screen  and (max-width: 992px){
	.consul{
		margin-left: -12px;
	}
	
	.acti{
		color: #00cc99;
	}
	.menu{
	position: relative;
	top: 0px;
	left: 0px;
	}
	.menu nav{
		display: none;
	}

	#main{
		display: block;
		position: relative;
		font-size: 24px;
		color: #fff;
	}
	.menu-desple{
	position: fixed;
	
	transition: 1s;
	top: 0px;
	left: 0px;
	}
	nav{
		width: 100%;
		
	}
	nav ul{
		
		padding: 16px 16px 0px 16px;

	}
	nav ul li{
	display: block;
	margin-left:0px;
	text-align: left;
	margin-bottom: 10px;
	transition: .5s;
	}
	/*nav ul li:hover i{
		color: #00cc99;
		transition: .5s;
	}
	nav ul li:hover a{
		color: #00cc99;
		transition: .5s;
	}*/
	nav ul li a{
		font-size: 16px;
		font-family: 'Quicksand', sans-serif;
		font-weight: 600;
		display: inline-block;
	}
	nav ul li i{
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	font-size: 20px;
	transition: .5s;
	}
	 nav ul li:hover .children{
		display: none;
	}

	 nav ul li .children {
		width: 100%;
		position: relative;
		/*display: block;*/
		background: #fb36cb;
		padding: 0px 0px 0px 0px;
		border: 0px solid #EFB91B;
	}
	 nav ul li .children li a {
	color: #fff;
	}
	 nav ul li .children li {
	padding: 10px 10px 0px 10px;
	}
	 nav ul li .children li .fa-gifts{
	color: #fff;

 	}
}
@media screen  and (max-width: 768px){
	
	
}
@media screen  and (max-width: 576px){
	.cont-logo{
	width: 50px;
	}
}
@media screen  and (max-width: 420px){
	

}