.slide-contenedor{
	max-width:100%;
	max-height: 100vh;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;

}


.conteinfor{
	position: absolute;
	z-index: 996;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.miSlider .h2{
	position: relative;
	z-index: 997;
	color: #fff;
	font-size: 4em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.miSlider .ofrece{
	position: relative;
	font-size: 2em;
	color:#1E2D6C;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	
}
.miSlider .tex{
	width: 50%;
	font-size: 1.5em;
	text-align: justify;
	color: #fff;
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
}
.miSlider a{
	position: relative;
	font-size: 1.7em;
	background: transparent;
	border:2px solid #cca876;
	color: #fff;
	text-decoration: none;
	padding:15px 10px;
	transition: .3s;
	margin-top: 30px;
	z-index: 999;
}
.miSlider a:hover{
	background: #cca876;
	transition: .3s;
}
.miSlider .filtro{
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	height: inherit;
	object-fit: cover;
	vertical-align: top;
	transition:2s;
}
.miSlider .filtro .colo{
	width: 100%; 
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(37,56,134,0.53);
	
}
.miSlider .filtro img{
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	height: inherit;
	object-fit: cover;
	vertical-align: top;
	transition:2s;
}
.direcciones{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	z-index: 998;
}

.direcciones i{
	color: #fff;
	display: inline-block;
	font-size: 40px;
	padding: 20px;
}
.direcciones i:hover{
	background: rgba(0,0,0,.5);
	transition: .5s;
	cursor: pointer;
}
.barras{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	z-index: 1001;
}
.barra{
	cursor: pointer;
	width: 15px;
	height: 15px;
	margin:0 2px;
	border-radius: 50%;
	background:#dedde1;
	display: inline-block;
	margin-left: 3px;
}

.active{
	background: rgb(37,56,134);
}
.fade{
	animation-name: fade;
	animation-duration: 1.5s;
}

.zoo{
	animation-name: zooin;
	transition-duration: 1.5s;
	
}


@keyframes zooin{
	from{
		transform: scale(1.12,1.12);
		transition-timing-function: ease-out;
		transition-duration: 250ms;
	}
	to{
		transform: scale(1,1);
		transition-timing-function: ease-out;
		transition-duration: 250ms;
	}
}

@keyframes fade{
	from{opacity: .4;}
	to{opacity: 1;}
}
@media screen and (max-width: 800px){
	
	.miSlider .ofrece{
	font-size: 1.3em;
	}
	.miSlider .h2{
	font-size: 3em;
	}
	.miSlider .tex{
	font-size: 1.2em;
	}
}
@media screen and (max-width: 650px){
	.miSlider .ofrece{
	font-size: 1.3em;
	}
	.miSlider .h2{
	font-size: 2em;
	}
	.miSlider .tex{
	font-size: .8em;
	}
	.direcciones i{
	font-size: 20px;
	padding: 7.5px;
	}
}
@media screen and (max-width: 500px){
	.miSlider .h2{
	margin-top: 10px;
	}
	.miSlider .tex{
	margin-top: 10px;
	}
	.miSlider .ofrece{
	font-size: 1em;
	}
	.miSlider .h2{
	font-size: 1.4em;
	}
	.miSlider .tex{
	font-size: .8em;
	}
	
}
@media screen and (max-width: 400px){
	.miSlider .ofrece{
	font-size: 1em;
	}
	.miSlider .h2{
	display: none;
	}
	.miSlider .tex{
	font-size: .8em;
	}
	

}
@media screen and (max-width: 350px){
	.miSlider .ofrece{
	font-size: 1em;
	}
	.miSlider .tex{
	font-size: .6em;
	}
	
	
}

@media screen and (max-width: 300px){
	

}
@media screen and (max-width: 250px){
	.miSlider .ofrece{
	font-size: .8em;
	}
	.miSlider .tex{
	font-size: .5em;
	}

}
@media screen and (max-width: 250px){
	.barra{
	width: 7.5px;
	height: 7.5px;
	}

}