/*TABLA empleados*/
.tabla-responsiva{
	position: relative;

	display: grid;
	grid-template-columns: repeat(8,20%);
	/*grid-auto-rows: 50px;*/ 

}
.tabla-puntoventa{
	grid-template-columns: repeat(10,20%);
	/*grid-auto-rows: 50px;*/ 
}
.tabla-cliente{
	grid-template-columns: repeat(15,20%);
}


.table-header,.table-item{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-header{
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	color: #424f8f;
	border-top: 1px solid #acb0c3;
	border-bottom: 1px solid #acb0c3;
	padding: 10px 5px;
	cursor: pointer;
}
.table-header img {
margin-right: 8px;
}
.table-item{
	padding: 10px;
	font-size: 20px;
	font-weight: 20px;
	text-align: center;
	border-bottom: 1px solid #acb0c3;
	color: #1E1E1E;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
.table-item i{
	position: relative;
	font-size: 20px;
	color: #424f8f;
}
/*btn toggle*/
.table-item .togglebtn:hover{
	cursor: pointer;
}
.table-item .togglebtn{
	display: block;
	position: relative;
	width: 55px;
	height: 30px;
	padding: 8px;
	background: #f1f2f3;
	border-radius: 18px;
	display: flex;
	align-items: center;
	transition:all 300ms ease;
}
.table-item .togglebtn > .inner-circle{
	width: 20px;
	height:20px;
	background: #fff;
	border-radius: 50%;
	transition:all 300ms ease;
}
.table-item .togglebtn.active{
	background:#505AFC;
	 
}
.table-item .togglebtn.active > .inner-circle{
	margin-left: 20px;
}

/*FIN TABLA*/

@media screen  and (max-width: 1200px){
	.table-header{
	font-size: 22px;
	}
	.tabla-responsiva{
	grid-template-columns: repeat(8,22%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,22%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,22%);
	}
	.table-item{
	font-size: 16px;
	}
	.table-item i{
	font-size: 16px;
	}
}
@media screen  and (max-width: 992px){
	.tabla-responsiva{
	grid-template-columns: repeat(8,25%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,25%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,25%);
	}
}
@media screen  and (max-width: 768px){
	
}
@media screen  and (max-width: 650px){
	.table-header{
	font-size: 18px;
	}
	.table-item{
	font-size: 14px;
	}
	.table-item i{
	font-size: 14px;
	}
}
@media screen  and (max-width: 576px){
	.tabla-responsiva{
	grid-template-columns: repeat(8,30%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,30%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,30%);
	}
}
@media screen  and (max-width: 479px){
	.tabla-responsiva{
	grid-template-columns: repeat(8,35%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,35%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,35%);
	}
}
@media screen  and (max-width: 400px){
	.tabla-responsiva{
	grid-template-columns: repeat(8,42%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,42%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,42%);
	}
}
@media screen  and (max-width: 365px){
	.tabla-responsiva{
	grid-template-columns: repeat(8,47%);
	}
	.tabla-puntoventa{
	grid-template-columns: repeat(10,47%);
	/*grid-auto-rows: 50px;*/ 
	}
	.tabla-cliente{
	grid-template-columns: repeat(15,47%);
	}
}